// styles/_variables.scss

// Colors
$dark-blue: #040dbf;
$light-blue: #01f2f2;
$gold: #f2df79;
$orange: #f37406;
$background-color: #3a53ba;

$mainTitle: "ATRotisSemiSans-ExtraBold", sans-serif;
$subTitle: "ATRotisSemiSans-Light", sans-serif;